@import "../../scss/abstracts/variables";

.acc__page {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  overflow-y: auto;
  align-items: center;
  justify-content: center;

  &--container {
    width: 50%;
  }

  &--heading {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  &--desc {
    width: 75%;
    font-size: 2rem;
    padding: 2rem;
    margin-bottom: 3rem;
    border: 2px solid $color-f;
    border-radius: 5px;
  }
  @media (max-width: 991.98px) {
    &--desc {
      height: 20vh;
      width: 100%;
      padding: 1rem;
      text-align: left;
      overflow-y: auto;
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 991.98px) {
  .acc__page--container {
    width: 100%;
  }
}
