.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__image {
    height: 20rem;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 3rem;
  }
}
