@import "../../../scss/abstracts/variables";
@import "../../../scss/base/animations";

.expand-panel {
  width: 100%;
  margin-bottom: 1.5rem;
  &__header {
    border: 1.5px solid $color-o;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    @media (max-width: 991.98px) {
      padding: 0.75rem 0rem;
    }
  }

  &__income-header {
    display: flex;
    align-items: center;
    width: 85%;
  }

  &__btn-expand-container {
    width: 15%;
    @media (max-width: 991.98px) {
      width: 25%;
    }
  }

  &__panel-user {
    border: 1.5px solid $color-o;
    border-top: 0;
    overflow-y: auto;
    animation: expandPanel-user 0.75s ease-in-out;
    padding: 1rem 0rem;
    height: 50vh;
  }

  &__panel-album {
    border: 1.5px solid $color-o;
    border-top: 0;
    overflow-y: auto;
    animation: expandPanel-album 0.75s ease-in-out;
    padding: 1rem 2rem;
    height: 25vh;
  }
}

.expand-header {
}

.header__title {
  font-weight: 500;
  font-size: 2rem;
}

@keyframes expandPanel-user {
  0% {
    height: 0;
  }
  100% {
    height: 50vh;
  }
}

.add-album-icon {
  display: none;
  font-size: 2.5rem;
  @media (max-width: 991.98px) {
    display: block;
  }
}
.add-album-text {
  @media (max-width: 991.98px) {
    display: none;
  }
}

@keyframes expandPanel-album {
  0% {
    height: 0;
  }
  100% {
    height: 25vh;
  }
}
